html, body, #root {
  height: 100%;
}

.ctr-app{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ctr-todolist{
    flex: 1;
    text-align: center;
}

.ctr-header {
    text-align: center;
}

.ctr-footer {
    text-align: center;
}