:root {
  --text-color: rgba(255, 255, 255, 0.87);
  --main-color: rgba(255, 255, 255, 0.87);
  --background-color: rgb(36, 36, 36);
  --secondary-color: rgb(15, 13, 20);
  --hover-color: rgb(116, 123, 255);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgba(255, 255, 255, 0.87);
    --main-color: rgb(33, 53, 71);
    --background-color: rgb(255, 255, 255);
    --secondary-color: rgb(197, 180, 235);
    --hover-color: rgb(116, 123, 255);
  }
}