
li {
    list-style: none;
    align-items: center;
    display: flex;
    padding: 1px 0;
    margin: 0px 20px;
}

span {
    flex: 1;
}

button {
    margin: 0 4px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #444444;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: background-color 0.3s;
}