
li {
    list-style: none;
    align-items: center;
    display: flex;
    padding: 1px 0;
    margin: 0px 20px;
}

span {
    flex: 1;
}

button{
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
  width: 45px;
  padding: 5px 10px;
  margin: 0px 5px;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.5 ease;
  border: 2px solid transparent;
}

button.btn-Add{
  width: 70px;
}

/* Input Field */
input{
  font-size: 1.1rem;
  padding: 5px;
  text-align: center;
  margin-right: 10px;
}

input[type="text"]{
  width: 300px;
}

input[type="number"]{
  width: 100px;
}

/* To-Do Items */
ol{
  list-style-type: none;
  padding: 0px;
  margin: 0px 50px;
}

/* Responsive margins for different screen sizes */
@media (min-width: 768px) {
  ol {
    margin: 0px 150px;
  }
}

@media (min-width: 1024px) {
  ol {
    margin: 0px 300px;
  }
}

@media (min-width: 1440px) {
  ol {
    margin: 0px 500px;
  }
}

ol li{
  font-size: 1rem;
  margin: 10px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.lst-tasks{
  margin-bottom: -5px;
} 

.lst-completed{
  opacity: 0.5;
}

.text{
  flex: 1;
  font-weight: bold;
}